.nutricion-card {
  width: 357px;
  height: 368px;
  padding: 32px 45px 32px 24px;
  border-radius: 15px 0px 0px 15px;
  background: #f9f9f9;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

.nutricion-card__item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 10px;
  }
}
