.container-search {
  position: relative;
}

.input {
  background-color: #ffffff;
  border: 1px solid #252525;
  width: 165px;
  height: 38px;
  padding: 8px 25px 8px 25px;
  border-radius: 100px;
  color: #000000;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  top: calc(50% - 7px);
  cursor: pointer;
}
