.search-container {
  position: relative;
  max-width: 165px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.search-input {
  background-color: #ffffff;
  border: 1px solid #252525;
  padding: 8px 25px 8px 10px;
  border-radius: 100px;
  color: #000000;
  width: 165px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  top: calc(50% - 7px);
  cursor: pointer;
}
