$border-radius: 1.5rem;
$gap: 0.8rem;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.fruit-card {
  max-width: 19.8125rem;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: 0.3125rem 0.4375rem 1.5625rem 0px #00000026;
}

.card-image-container {
  position: relative;
}

.card-container__image {
  width: 100%;
  height: 14.6875rem;
  border-radius: $border-radius $border-radius 0px 0px;
  opacity: 0px;
}

.card-container__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.fruit-body {
  width: 100%;
  padding: 1.5rem;
  gap: $gap;
  border-radius: 0px 0px $border-radius $border-radius;
  opacity: 0px;
}

.fruit-family-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  > div {
    @include flex-column;
    height: 3.5rem;
  }
}

.fruit-nutritions {
  @include flex-column;
  gap: $gap;
  > div {
    display: flex;
    justify-content: space-between;
  }
}
