.fruit-card {
  width: 317px;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 7px 25px 0px #00000026;
}

.card-image {
  width: 100%;
  height: 235px;
  gap: 0px;
  border-radius: 15px 15px 0px 0px;
  opacity: 0px;
}

.fruit-body {
  width: 100%;
  padding: 24px;
  gap: 8px;
  border-radius: 0px 0px 15px 15px;
  opacity: 0px;
}

.fruit-family-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    flex-direction: column;
    height: 56px;
  }
}

.fruit-nutritions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > div {
    display: flex;
    justify-content: space-between;
  }
}
