.typography {
  font-family: Lato;
  line-height: 24px;
  text-align: left;
  color: #d7b46b;
  margin-bottom: 0;

  &--small {
    font-size: 12px;
  }

  &--medium {
    font-size: 16px;
  }

  &--large {
    font-size: 24px;
  }

  &--extra-large {
    font-size: 50px;
    line-height: 50px;
  }
}
